KNN으로 붓꽃 분류하기
- UCI 데이터셋다운로드 https://archive.ics.uci.edu
- pandas로 읽기
- 입력(X:꽃잎과 꽃받침의 길이 너비) 과 출력(Y : 품종) 분리
- 150 개의 인스턴스(샘플), 학습용(75%), 테스트용(25%) 분리
- K(k:3~5개 정도)NN 모델을 선정
- 목표 : 테스트 샘플의 분류 정확도를 높이기

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

C:\Users\wtime\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [7]:
df = pd.read_csv('iris.data', header=None)#컬럼 명 안써져 있음 헤더가 없다. 
df.shape

(150, 5)

In [8]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [11]:
df.info() #컬럼 타입, 변환 숫자로 해야 할지 확인하기 위함

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
0    150 non-null float64
1    150 non-null float64
2    150 non-null float64
3    150 non-null float64
4    150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

- 150 개의 인스턴스(샘플), 학습용(75%), 테스트용(25%) 분리

In [16]:
from sklearn.model_selection import train_test_split

In [20]:
X = df.iloc[:,:4]
y = df.iloc[:,-1]
X.shape,y.shape #X는 2차원, Y는 1차원

((150, 4), (150,))

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [23]:
X_train.shape, X_test.shape

((112, 4), (38, 4))

In [24]:
from sklearn.neighbors import KNeighborsClassifier

In [41]:
knn = KNeighborsClassifier(2)
knn.fit(X_train, y_train) #핏팅시키기, 학습시키기

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=2, p=2,
           weights='uniform')

In [29]:
knn.predict(X_test)

array(['Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa'], dtype=object)

In [43]:
knn.score(X_train, y_train), knn.score(X_test, y_test)

(0.9642857142857143, 1.0)

코스피 200 일거래 데이터, 종가 예측하기
- 샘플 : 하루의 총 일거래 정보

In [64]:
url = '코스피200 _ 다음 금융.html'
tables = pd.read_html(url, index_col=0)
len(tables)
df = tables[1]
df.head()

              종가    전일비     등락률    거래량     거래대금  개인(억)  외국인(억)  기관(억)
일자
19.07.02  276.98  ▼0.29  -0.10%  22434   819799    345      67   -391
19.07.01  277.27  ▼0.23  -0.08%  74357  3446049   -214    1286    365
19.06.28  277.50  ▼0.25  -0.09%  67598  2879563  -1802    3011  -1189
19.06.27  277.75  ▲2.22  +0.81%  66303  3357666  -4165    1837   2415
19.06.26  275.53  ▲0.25  +0.09%  58818  2636531   -712     157    557

In [63]:
tables[1].info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 19.07.02 to 19.06.19
Data columns (total 8 columns):
종가        10 non-null float64
전일비       10 non-null object
등락률       10 non-null object
거래량       10 non-null int64
거래대금      10 non-null int64
개인(억)     10 non-null int64
외국인(억)    10 non-null int64
기관(억)     10 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 720.0+ bytes

In [67]:
#전일비와 등락률을 수치데이터로 변환
df['전일비']= df['전일비'].replace('▼','-',regex=True)
df['전일비']= df['전일비'].replace('▲','+',regex=True)
df['등락률']= df['등락률'].replace('%','',regex=True)

df.head()

              종가    전일비    등락률    거래량     거래대금  개인(억)  외국인(억)  기관(억)
일자
19.07.02  276.98  -0.29  -0.10  22434   819799    345      67   -391
19.07.01  277.27  -0.23  -0.08  74357  3446049   -214    1286    365
19.06.28  277.50  -0.25  -0.09  67598  2879563  -1802    3011  -1189
19.06.27  277.75  +2.22  +0.81  66303  3357666  -4165    1837   2415
19.06.26  275.53  +0.25  +0.09  58818  2636531   -712     157    557

In [69]:
df['전일비']= df['전일비'].astype(np.float)
df['등락률']= df['등락률'].astype(np.float)

In [72]:
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 19.07.02 to 19.06.19
Data columns (total 8 columns):
종가        10 non-null float64
전일비       10 non-null float64
등락률       10 non-null float64
거래량       10 non-null int64
거래대금      10 non-null int64
개인(억)     10 non-null int64
외국인(억)    10 non-null int64
기관(억)     10 non-null int64
dtypes: float64(3), int64(5)
memory usage: 720.0+ bytes

(None,               종가   전일비   등락률    거래량     거래대금  개인(억)  외국인(억)  기관(억)
 일자
 19.07.02  276.98 -0.29 -0.10  22434   819799    345      67   -391
 19.07.01  277.27 -0.23 -0.08  74357  3446049   -214    1286    365
 19.06.28  277.50 -0.25 -0.09  67598  2879563  -1802    3011  -1189
 19.06.27  277.75  2.22  0.81  66303  3357666  -4165    1837   2415
 19.06.26  275.53  0.25  0.09  58818  2636531   -712     157    557)

In [78]:
# 입력 X와 출력 Y 분리
y = df['종가']
X = df.iloc[:,1:]
y.shape, X.shape

((10,), (10, 7))

In [106]:
offset =8 

X_train = X[-offset:] #상수 Magic Number 를 가능하면 사용하지 않는게 좋다. 
X_test = X[:-offset]
y_train = y[-offset:]
y_test = y[:-offset]

y_test

일자
19.07.02    276.98
19.07.01    277.27
Name: 종가, dtype: float64

In [94]:
from sklearn.neighbors import KNeighborsRegressor # Regressor 실수 예측용

In [101]:
knn = KNeighborsRegressor(n_neighbors=1) # 클래스의 instance 생성 문법
knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=1, p=2,
          weights='uniform')

In [102]:
knn.predict(X_train), knn.predict(X_test)

(array([277.5 , 277.75, 275.53, 275.28, 275.58, 275.48, 276.01, 275.31]),
 array([275.58, 277.75]))

In [109]:
knn.score(X_test, y_test),knn.score(X_train, y_train)

(-51.0903686088148, 1.0)

In [110]:
# p71 결정 계수  : R^2
knn.score(X_train, y_train) # trainset 에 k = 1이므로 당연히 100%

1.0

In [112]:
#.score ()의 return 2종류 : classification 정확도, regression 결정 계수 
knn.score(X_test,y_test)  # 이 모델은 신뢰할 수 없다.

-51.0903686088148

#### KNN 장단점
- 장점 : 이해하기 매우 쉬운 모델, k를 많이 조정하지 않아도 좋은 성능, 좋은 시작점
- 단점 : 전처리가 중요하다.(정규화 필요), (컬럼)특성이 많으면 동작 X, 특성값이 대부분이 0인(희소한, sparse) 안된다. 
- 이런한 단점을 해결한 선형 모델(Linear model)