In [38]:
import csv
f =open('seoul.csv','r',encoding='cp949')
data = csv.reader(f, delimiter=',')
max_v=0
max_data=0
header = next(data)
for row in data :
    max_temp = row[-2]
    max_data = row[2]
    if float(max_temp) > max_v : 
        max_v = float(max_temp)


print('max_v', max_v)
print('max_data', max_data)

max_v 22.4
max_data 2002-06-30

In [29]:
import pandas
data=pandas.read_csv('seoul.csv',encoding='cp949')

In [30]:
data

    지점번호 지점명          일시  평균기온(℃)  최고기온(℃) 최고기온시각  최저기온(℃) 최저기온시각
0    108  서울  2002-06-01     20.2     24.8  12:29     17.1   0:06
1    108  서울  2002-06-02     22.9     30.0  15:08     15.3   4:50
2    108  서울  2002-06-03     23.4     29.1  14:45     17.6   5:31
3    108  서울  2002-06-04     22.4     27.6  14:06     18.2   4:29
4    108  서울  2002-06-05     25.2     31.4  15:13     19.1   4:43
5    108  서울  2002-06-06     25.9     31.2  13:07     21.2   5:57
6    108  서울  2002-06-07     25.2     30.6  13:23     19.6  23:56
7    108  서울  2002-06-08     22.1     27.1  17:03     19.4   0:15
8    108  서울  2002-06-09     22.8     28.0  13:12     18.3   5:12
9    108  서울  2002-06-10     22.4     26.6  13:23     20.0  23:00
10   108  서울  2002-06-11     21.9     26.8  15:14     19.0   4:20
11   108  서울  2002-06-12     18.6     22.9  10:47     16.6   4:08
12   108  서울  2002-06-13     19.7     24.4  14:35     16.0   5:09
13   108  서울  2002-06-14     20.4     25.0  13:00     16.4   5:18
14   108  서울  2002-06-15     20.6     24.8  17:10     17.4   4:53
15   108  서울  2002-06-16     22.4     28.6  15:46     15.7   5:06
16   108  서울  2002-06-17     23.2     28.4  13:50     17.9   5:28
17   108  서울  2002-06-18     23.4     28.9  14:08     19.0   5:56
18   108  서울  2002-06-19     22.3     26.2  14:51     20.2   2:03
19   108  서울  2002-06-20     22.2     26.1  14:42     19.2   8:38
20   108  서울  2002-06-21     23.6     28.4  15:38     18.8   5:48
21   108  서울  2002-06-22     23.7     29.2  15:45     18.9   6:17
22   108  서울  2002-06-23     18.1     21.3   0:00     16.9   7:45
23   108  서울  2002-06-24     16.4     17.7   9:04     15.3  13:57
24   108  서울  2002-06-25     19.8     25.0  15:11     15.5   4:48
25   108  서울  2002-06-26     20.9     27.7  16:41     14.5   5:02
26   108  서울  2002-06-27     21.6     27.5  12:57     16.5   5:25
27   108  서울  2002-06-28     23.6     30.0  15:05     17.4   5:21
28   108  서울  2002-06-29     25.8     32.0  16:09     18.9   4:54
29   108  서울  2002-06-30     26.3     31.5  13:17     22.4   5:32